html,body{height:100%;}
#main-carousel.carousel,#main-carousel .item,.active,#main-carousel.slide {
    height:680px;
}

.carousel-inner > .item > img {
    height:680px;
    width: 100%;
}

.carousel-caption {
    top: 40%;
    left: 50%;
    margin: -8% 0 0 -25%;
    width: 50%;
}

.carousel-control span {
    position: absolute;
    top: 45%;
    left: 50%;
}

.carousel-caption .logo-slide {
    height: 100px;
}


@media (min-width: 0px) and (max-width: 500px) {
    
    .carousel-caption {
        top: 25%;
    }
    
    .carousel-caption h1 {
        font-size: 1.4em;
    }
    
    .carousel-caption h2 {
        font-size: 1.3em;
    }
    
    .carousel,.item,.active,.slide {
        height:640px;
    }
    
    .carousel-caption p {
        font-size: 1.4em;
        line-height: 1.2em;
    }
    
    .carousel-caption a {
        font-size: 1em;
    }
    
    .dataday {
        top: 20%;
    }
    .dataday .woman-text {
        font-size: 1.4em;
    }
    .dataday .dataday-info {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .dataday .dataday-date {
        margin-bottom: 5px;
    }
}

@media (min-width: 500px) and (max-width: 992px) {
    
    .carousel-caption h1 {
        font-size: 1.7em;
    }
    
    .carousel-caption h2 {
        font-size: 1.5em;
    }
    
    .carousel-caption p {
        font-size: 1.7em;
    }
    
    .carousel-caption a {
        font-size: 0.8em;
    }
    
    .woman-text {
        font-size: 1.7em;
    }
    
    .dataday {
        top: 20%;
    }
}


/*Carousel mini */

#about-carousel .carousel,.item,.active,.slide {
    height:317px;
}

#about-carousel .carousel-inner > .item > img {
    height:317px;
}



/*DATA DAY*/
/*
.logo-dataday {
    background: radial-gradient(white 0%, #e5e5e5 100%);
} */

.event-invitation {
    font-size: 36px;
    line-height: 36px;
    box-sizing: border-box;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
    font-weight: 500;
}

.woman-text {
    /*color: #32bfdc; /* #e880de;*/
    font-size: 42px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

.dataday .dataday-date {
    font-size: 26px;
}


