/*TEAM CONTENT*/
.col-centered {
    display: inline-block;
    float: none;
    
}

.member-description {
    display: none;
}

.team-block:hover{
    z-index:10;
    -webkit-transform:scale(1.01);
    -ms-transform:scale(1.01);
    transform:scale(1.01)
}

#memberModal {
    vertical-align: middle;
}

#memberModal .modal-content {
    max-width: 436px;
    padding: 30px 20px;
}

section#team {
    padding-top: 70px;
    padding-bottom: 50px;
}

section#team #team-content {
    padding-top: 5px;
}

#team-content .team-member.team-block {
    margin-bottom: 15px;
} 

#team-content .team-detail h4 {
    margin-bottom: 5px;
}


/*Blog*/

.blog-entry {
    margin-bottom: 50px;
}

.blog-entry img {
    width: 240px;
    height: 240px;
}

/* MEMBERSHIPS  */

.memberships {
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
}

.memberships .line-head-row {
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.memberships .thumbnail {
    padding: 40px 20px;
}

.line-price-row p {
    margin: 0;
}

.line-price-row small {
  font-size: 18px;
  color: #b3b3b3;
  list-style: none;
}

.line-price-row span {
  font-size: 72px;
  color: #8fc843;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
}

.line-price-row span.symbol {
  position: relative;
  font-size: 24px;
  color: #000000;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  top: -15px;
}

.line-btn-row  {
    text-align: center;
    margin-top: 30px;
}

.memberships hr {
    border-top: 2px solid #eee;
}

.thumbnail.highlithed-thumbnail {
    border: 2px solid #8fc843;
    padding: 0;
}

.highlithed-top {
    background: #8fc843;
    padding: 40px 20px 30px 20px;
}

.highlithed-top .line-head-row {
    color: #fff;
}

.highlithed-top .line-price-row {
    color: #fff;
}

.highlithed-top span.symbol {
    color: #fff;
}

.highlithed-top span {
    color: #fff;
}

.highlithed-top small {
    color: #fff;
}

.highlithed-bottom {
    padding-bottom: 40px;
    margin-top: 35px;
}

#line-pricing .container {
    padding-top: 70px;
}


/*  SERVICES  */

#services .service-container {
    padding-top: 0;
}


